header {
            text-align: center;
            background-color: none;
            color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
nav {
            text-align: center;
            background-color: none;
            padding: 10px;

        }
nav a {
            color: #fff;
            text-decoration: none;
            margin: 10px;
            font-size: 19px;
        }
nav a:hover {
            text-decoration: underline;
        }

body {
            font-family: 'impact';
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: #000;

        }

.flickering-image {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 85%;
    height: auto;
    animation: flicker 1s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the image is behind the navigation */
}

@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 1;
    }
}
        
main {
            flex-grow: 1; /* Allow main content to grow and push the footer down */
        }
.container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            margin-top: -20px;
        }
img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            margin: 0 auto;
            width: 100%;
        }
#counter {
            font-size: 20px;
            margin: 10px;
            color: #f90000;
            font-family: 'Courier New';
            text-align: right;

        }
    
footer {
            position: fixed; /* Fixed position to keep it at the bottom */
            bottom: 0; /* Align to the bottom of the viewport */
            left: 50%; /* Center horizontally */
            transform: translateX(-50%); /* Center horizontally */
            background-color: none; /* Background color for the footer */
            color: #fff; /* Text color for the footer */
            padding: 10px; /* Adjust padding as needed */
            text-align: center; /* Center-align text inside the footer */
            font-size: 9px;
            font-family: 'arial';

        }
@media only screen and (max-width: 600px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
            margin-top: -58px;
    }

    nav {
        margin-top: 20px; /* Adjust spacing between header and navigation */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
            img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: -10px auto 10px;
            width: 100%;
        }

            
}

